{
	############ Sigma-level variables #############

	"sigma_level" 	: 3, 			#What sigma level to use for sigma-clipping

	"sigma_source_id": 7,			#What sigma level to use to identify sources

	"sigma_measure" : 7,			#What sigma level to use to measure sources


	########### Focused variables ###############
	#Focusing is when, instead of analyzing the entire image, we focus in on a user-defined
	#box and analyze the part of the image inside the box.

	"focused_var"	: "False",		#Whether to focus in on a specific part of the
						#image. If True, will need to make sure the
						#center and box_side variables are also set
						#appropriately.

	"center"	: [0,0],		#Describes the center of the box, in sky
						#coordinates (in degrees).
						#Form of np.array([RA,Dec])

	"box_side"	: 20,			#Side length of the box, in arcseconds


	############ Other flag-type variables ################

	"deblent_var" 	: "True",		#Flag on whether to deblend the detected sources
						#Occasionally, will have one big source that we
						#don't want to break apart into connected smaller
						#ones

	"plot_var"	: "linear",		#What style to plot the main image for the 
						#reference plot. 'log' gets you ds9 settings,
						#the contrast and bias of which are specified
						#below in the Other variables/parameters 
						#section. 'linear' gets you just a normal plot.
						#OPTIONS are 'log' or 'linear'

	"show_plots"	: "False",		#Whether to pop up the individual source plots
						#at the end of a code run (plots will still be
						#saved according to the savefig variable).
						#OPTIONS are True or False.

	"bg_method" 	: "median", 		#Method to find the background from the aperture
						#OPTIONS are 'mode','mean','mad_std','rmode',
						#'rmean', 'median'
						
	"print_option_1": "everything", 	#What to print
						#OPTIONS are 'everything' and 'fluxes'
					
	"savefig" 	: "savepdf", 		#Whether to save the plots, and how to save them
						#OPTIONS are 'savepdf','savepng','saveps',
						#'savesvg', anything else and it won't save

	"print_type"	: "source",		#How to group the printed information - what the
						#highest level of information is - for 'source'
						#prints out a source, then iterates through all
						#the different images to find the information
						#for that source in every image.
						#OPTIONS are 'source' or 'image'


	########### Other variables/parameters - these shouldn't need much changing ###########

	"pix_thresh" 	: 5, 			#Minimum number of pixels a source can have

	"pref_bg" 	: [1.75,2.5], 		#Preferred factors for aperture - can think of
						#this as factors multiplying the contour
						#outlining the source

	"bg_fac_small"  : 0.8,			#What factor to decrease the background aperture
						#factor by, to measure error (while keeping the 
						#small_in_out_factor)

	"bg_fac_large"  : 1.5,			#What factor to enlarge the background aperture
						#factor by, to measure error (while keeping the 
						#large_in_out_factor)
					
	"in_out_factor" : 0.7, 			#If the preferred factors overlap a source, the 
						#code will find the correct outer factor and
						#this tells us the preferred ratio of 
						#inner/outer factors

	"small_in_out"  : 0.7,			#Same, but for the small aperture

	"large_in_out"  : 0.6,			#Same, but for the large aperture
					
	"min_in_factor" : 1, 			#Minimum factor for inner part of aperture

	"ap_step" 	: 0.01, 		#How much to step the bg factor down by for fine 
						#tuning - e.g. if ap_step=0.01 and pref_bg[1] =
						#3.5, it will try 3.49,3.48,3.47... until it
						#finds one that works.

	"round_dec" 	: 2, 			#How many decimal places to round to for
						#display, scientific notation-wise

	"ds9_contrast" 	: 1.14583,		#For plotting the reference image - since we're
						#using the ds9 cmapping tools, we need to specify
						#these. These shouldn't need changing, but if they
						#do, go into ds9, switch scaling to logarithm,
						#adjust the image to your liking, then go to 
						#colormap parameters and copy the contrast and
						#bias to here.

	"ds9_bias" 	: 0.46748		#Same as above.
}
